<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="allPropertiesFormatedValue" value="${all-event-properties:format=[key]=[[value]]:separator=&#13;&#10;}" />
  <variable name="exceptionFullInnerFull" value="${exception:format=ToString,Data:innerFormat=ToString:maxInnerExceptionLevel=5}" />
  <variable name="processIdName" value="${processid}|${processname}" />
  <variable name="sessionId" value="${processinfo:property=SessionId}" />
  <variable name="StackTraceRaw" value="${stacktrace:format=Raw}" />

  <variable name="allProperties_ifNotNull" value="${when:when=length('${allPropertiesFormatedValue}') > 0:inner=${newline}${allPropertiesFormatedValue}}" />
  <variable name="exceptionsFull_ifNotNull" value="${when:when=length('${exceptionFullInnerFull}') > 0:inner=${newline}Exception\: ${exceptionFullInnerFull}}" />
  <variable name="identity_ifNotNull" value="${when:when='${identity}' != 'notauth::':inner=${newline}Identity\: ${identity}}" />

  <variable name="consoleLayout" value="${newline}${longdate} [${level}] ${message}${allProperties_ifNotNull}${newline}-------------${exceptionsFull_ifNotNull}${newline}MachineName: ${machinename}${identity_ifNotNull}${newline}WindowsIdentity: ${windows-identity}${newline}Process Id|Name|Time: ${processIdName}|${processtime}${newline}SessionId: ${sessionId}${newline}ThreadId: ${threadid}${newline}AssemblyVersion: ${assembly-version}${newline}${StackTraceRaw}${newline}" />

  <targets>
    <target xsi:type="Debugger" name="debugger"
            layout="${consoleLayout}" />
    <wrapper-target xsi:type="AsyncWrapper" name="svcAsync" overflowAction="Block">
      <wrapper-target xsi:type="RetryingWrapper">
        <target xsi:type="File" fileName="${basedir}/logs/log.csv"
                    archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="31" enableArchiveFileCompression="true">
          <layout xsi:type="CsvLayout" delimiter="Semicolon" quoting="Auto" withHeader="true">
            <column name="DateTime" layout="${longdate}" />
            <column name="Level" layout="${level}" />
            <column name="Message" layout="${message}${newline}-------------${allProperties_ifNotNull}" />
            <column name="Exception" layout="${exceptionFullInnerFull}" />
            <column name="StackTrace" layout="${StackTraceRaw}" />
            <column name="MachineName" layout="${machinename}" />
            <column name="Identity" layout="${identity}" />
            <column name="WindowsIdentity" layout="${windows-identity}" />
            <column name="Process Id|Name" layout="${processIdName}" />
            <column name="Process Time" layout="${processtime}" />
            <column name="SessionId" layout="${sessionId}" />
            <column name="ThreadId" layout="${threadid}" />
            <column name="AssemblyVersion" layout="${assembly-version}" />
          </layout>
        </target>
      </wrapper-target>
    </wrapper-target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="debugger" enabled="true" />
    <logger name="*" minlevel="Trace" writeTo="svcAsync" enabled="true" />
  </rules>
</nlog>
